<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="bodyHeader">
  <!-- header -->
  <div class="top-header-area" id="sticker">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-sm-12 text-center">
          <div class="main-menu-wrap">
            <!-- logo -->
            <div class="site-logo">
              <a href="/">
                <img src="assets/img/logo.png" alt="">
              </a>
            </div>
            <!-- logo -->

            <!-- menu start -->
            <nav class="main-menu">
              <ul>
                <li><a href="#">goods-review</a>
                  <ul class="sub-menu">
                    <li><a href="review.html">review</a></li>
                    <li><a href="">Shop</a></li>
                  </ul>
                </li>
                <li><a href="products">신상품</a>
                </li>
                <li><a href="products">베스트</a></li>
                <li><a href="products">특가/혜택</a>
                </li>
                <li>
                  <div class="header-icons">
                    <a class="shopping-cart" href="cart.html"><i class="far fa-heart"></i></a>
                    <a class="shopping-cart" href="carts"><i class="fas fa-shopping-cart"></i></a>
                    <a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a>
                    <a th:if="${session.loginUser == null}" href="login">Login</a>
                    <a th:if="${session.loginUser != null}" href="http://localhost:8080/logout">Logout</a>
                  </div>
                </li>
              </ul>
            </nav>
            <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
            <div class="mobile-menu"></div>
            <!-- menu end -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end header -->
</div>